@use "./variables" as vars;
@use "./mixins" as mixins;

.mainContent {
  @include mixins.flex(column, center, center, 3rem);
  color: vars.$dark-text;

  button {
    border: none;
    background-color: vars.$dark-accent;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    font-family: inherit;
    font-size: 0.9rem;

    &:hover,
    &:active {
      background-color: vars.$dark-accent-100;
    }
  }

  h1 {
    color: vars.$dark-accent;
    font-weight: 700;
    font-size: vars.$h1-fs;
    text-align: center;
  }

  .errorList {
    @include mixins.flex(column, flex-start, stretch, 2rem);
    box-shadow: vars.$dark-shadow;
    width: 90%;
    background-color: vars.$dark-bg-100;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;

    button {
      padding: 0.5rem 0;
    }

    .listHeader {
      @include mixins.flex(column, center, center, 1rem);
      @include mixins.md {
        @include mixins.flex(row, space-between, center, 1rem);
      }
      padding: 0 1rem;

      .listHeaderDetails {
        @include mixins.flex(column, center, center, 0.3rem);
        margin: 0.8rem 0;
        width: 100%;
        max-width: 25rem;
        span {
          color: vars.$dark-accent;
          background-color: vars.$dark-bg-200;
          padding: 0.5rem;
          border-radius: 0.5rem;
          width: 100%;
        }

        @include mixins.md {
          @include mixins.flex(row, flex-end, center, 2rem);
          margin: 0;
          width: 200px;
        }
      }
    }

    ul {
      @include mixins.flex(column, center, stretch, 1rem);

      .listLabels {
        background-color: transparent;
        color: vars.$dark-accent;
        display: none;
        padding: 0rem 0.8rem;

        @include mixins.md {
          display: flex;
        }
      }

      li {
        @include mixins.flex(column, stretch, center);

        background-color: vars.$dark-bg-200;
        padding: 1.5rem 0.8rem;
        border-radius: 0.8rem;
        flex: 1;

        @include mixins.md {
          @include mixins.flex(row, stretch, center);
          padding: 1.5rem 1rem;
        }

        & > * {
          width: 50%;
          margin: 0.5rem 0;
          @include mixins.md {
            margin: 0;
          }

          &:nth-child(2),
          &:nth-child(3) {
            width: 100%;
          }
        }
        button {
          width: 100%;
        }
      }
    }

    .paginationBtns {
      @include mixins.flex(row, center, center, 0.7rem);
      button {
        padding: 0.3rem 0.8rem;
        border-radius: 0.4rem;

        &:disabled {
          background-color: vars.$dark-accent-100;
        }
      }

      @include mixins.md {
        @include mixins.flex(row, center, center, 1rem);
      }
    }
  }
}

.sortList {
  width: 100%;
  max-width: 20rem;
  flex-wrap: wrap;
  @include mixins.flex(row, center, center, 1rem);

  label {
    color: vars.$dark-text;
  }

  .sortListItem__control {
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    background-color: vars.$dark-bg-200;
    border: none;

    .sortListItem__single-value {
      color: vars.$dark-text;
    }
  }
}

.errorDetails {
  @include mixins.flex(column, center, center);

  width: 100%;
  min-height: 100%;

  button {
    width: 5rem;
  }

  .errorContent {
    box-shadow: vars.$dark-shadow;
    width: 90%;
    background-color: vars.$dark-bg-100;
    padding: 2rem;
    border-radius: 1rem;
    text-align: start;
    @include mixins.flex(column, stretch, stretch, 1rem);

    .contentHeader {
      @include mixins.flex(row, space-between, center);

      span {
        color: vars.$dark-accent;
        background-color: vars.$dark-bg-200;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
      }
    }

    .contentColumn {
      @include mixins.flex(column, center, stretch, 1rem);
      @include mixins.md {
        @include mixins.flex(row, center, stretch, 1rem);
      }
      flex: 1;

      & > div {
        width: 100%;
        background-color: vars.$dark-bg-200;
        border-radius: 0.5rem;
        padding: 1rem;

        p {
          margin: 0.5rem 0;
        }
      }
    }

    .contentRow {
      width: 100%;
      background-color: vars.$dark-bg-200;
      border-radius: 0.5rem;
      padding: 1rem;

      p {
        margin: 0.5rem 0;
      }

      .contentErrorInfo {
        color: vars.$dark-text;
        white-space: pre-line;
        overflow-wrap: break-word;
        font-size: 0.9rem;
        padding: 1rem;
      }
    }

    p {
      color: vars.$dark-accent;

      span {
        color: vars.$dark-text;
        margin-left: 0.2rem;
      }
    }

    .reportNavBtns {
      @include mixins.flex(row, flex-end, center, 1rem);
    }
  }
}

.sidebarWrapper {
  height: fit-content;
  @include mixins.lg {
    position: sticky;
    top: 0;
  }

  .sidebar {
    background-color: transparent;
    height: fit-content;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;

    @include mixins.lg {
      background-color: vars.$dark-bg-100;
      height: 100vh;
      padding-top: 5rem;
      border-radius: 0 2rem 2rem 0;
      box-shadow: vars.$dark-shadow;
      margin-bottom: 0;
    }

    .sortList {
      max-width: 100%;
    }

    h2 {
      color: vars.$dark-text;
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid vars.$dark-bg-400;

      @include mixins.lg {
        padding-bottom: 1rem;
        margin-bottom: 3rem;
      }

      span {
        display: block;
        font-size: 1rem;
        padding: 1rem 0;
        color: vars.$dark-accent-100;
      }
    }

    .navMenu {
      @include mixins.flex(column, center, center, 1rem);
      margin: 5rem 0 0 0;

      a {
        width: 100%;
        border: none;
        background-color: vars.$dark-bg-200;
        border-radius: 0.5rem;
        padding: 0.7rem 0;
        font-family: inherit;
        color: vars.$dark-accent-100;
        text-decoration: none;
        text-align: center;

        &:hover,
        &:active,
        &.active {
          border: 1px solid vars.$dark-accent-100;
        }
      }
    }
  }
}

.overviewWrapper {
  .row {
    min-height: 200px;
  }

  .overviewCard {
    @include mixins.flex(column, center, stretch, 1rem);
    height: 100%;
    background-color: vars.$dark-bg-100;
    border-radius: 0.8rem;
    padding: 1rem;
    text-align: center;
    box-shadow: vars.$dark-shadow;

    div:nth-child(1) {
      @include mixins.flex(row, center, center, 0.5rem);
      height: 100%;
      border-bottom: 1px solid vars.$dark-bg-400;
      padding: 1rem;
      span:nth-child(1) {
        width: 60%;
        word-wrap: break-word;
        font-size: clamp(2rem, 4.5vw, 5rem);
      }
      span:nth-child(2) {
        width: 40%;
        background-color: vars.$dark-bg-200;
        padding: 1rem 0.6rem;
        border-radius: 0.5rem;
        color: vars.$dark-accent;
        font-size: clamp(0.8rem, 1.3vw, 1rem);
      }
    }

    p {
      font-size: 0.8rem;
      color: vars.$dark-text-200;
    }
  }

  .overviewAnalytics {
    p {
      background-color: vars.$dark-bg-100;
      padding: 1rem 2rem;
      border-radius: 0.8rem;
      box-shadow: vars.$dark-shadow;
      @include mixins.flex(row, space-between, center);

      span {
        @include mixins.flex(row, center, center);
        font-size: 1rem;
        width: 100%;

        &:nth-child(2) {
          color: vars.$dark-accent;
          border: 1px solid vars.$dark-bg-400;
          border-radius: 0.5rem;
          padding: 0.5rem;
        }

        &:nth-child(3) {
          @include mixins.flex(column, center, center);
          width: 2rem;
          height: 2rem;
          border-radius: 0.4rem;
          font-size: 0.8rem;
          padding: 1.5rem;
          margin-left: 1rem;
          background-color: vars.$dark-bg-400;

          &.red {
            background-color: rgba(226, 54, 54, 0.469);
          }
          &.green {
            background-color: rgba(54, 223, 39, 0.533);
          }
        }
      }
    }
  }

  .chartWrapper {
    @include mixins.flex(row, center, center);
    border: 1px solid vars.$dark-bg-300;
    border-radius: 0.8rem;
    height: 100%;
    max-height: 700px;
    min-height: 200px;
  }

  .reportStatsWrapper {
    @include mixins.flex(column, flex-start, flex-start);
    padding: 2rem;
    background-color: vars.$dark-bg-100;
    border-radius: 0.8rem;
    height: 100%;
    box-shadow: vars.$dark-shadow;

    p {
      margin: 0.7rem 0;
      span {
        background-color: vars.$dark-bg-300;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  h4 {
    color: vars.$dark-accent;
    margin-bottom: 1.5rem;
  }
}
