@use "./variables" as vars;

@mixin flex($flexDir: row, $jContent: flex-start, $aItems: stretch, $gap: 0) {
  display: flex;
  flex-direction: $flexDir;
  justify-content: $jContent;
  align-items: $aItems;
  gap: $gap;
}

// Small devices
@mixin sm {
  @media (min-width: vars.$screen-sm-min) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: vars.$screen-md-min) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: vars.$screen-lg-min) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: vars.$screen-xl-min) {
    @content;
  }
}
