// light mode
$light-bg: rgb(255, 253, 253);

//dark mode
$dark-bg: rgb(20, 20, 20);
$dark-bg-100: rgb(25, 25, 25);
$dark-bg-200: rgb(35, 35, 35);
$dark-bg-300: rgb(35, 35, 35);
$dark-bg-300: rgb(50, 50, 50);
$dark-bg-400: rgb(73, 72, 72);
$dark-text: rgb(235, 230, 230);
$dark-text-100: rgb(228, 223, 223);
$dark-text-200: rgb(202, 196, 196);
$dark-accent: rgb(226, 188, 104);
$dark-accent-100: rgb(199, 162, 83);
$dark-shadow: 2px 2px 5px 0 rgba(15, 15, 15, 0.8);

//general styling
$h1-fs: clamp(1rem, 3vw, 2rem);
$overlay-bg: rgba(0, 0, 0, 0.5);

// breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
